
body {
    overflow: hidden;
    background: black;
}
#vid, #controls .top, #controls .middle, #controls .bottom, #spinnerOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#vid {
    pointer-events: all;
    cursor: default;
}
body[data-controls-visible="false"] #vid {
    cursor: none;
}
#vid::-internal-media-controls-overlay-cast-button {
    display: none;
}
#controls {
    transition: 0.5s var(--bezier);
}
body[data-controls-visible="false"] #controls {
    opacity: 0;
    pointer-events: none !important;
}
body[data-controls-visible="true"] #controls.visible {
    opacity: 1;
    pointer-events: inherit;
    transition: 0.2s var(--bezier);
}
#controls .top {
    z-index: 2;
}
#controls .middle {
    z-index: 3;
}
#controls .bottom {
    z-index: 1;
}
#controls .middle {
    display: none;
}
#controls .bottom .shadow {
    padding: 50px 18px 12px 18px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}
#controls .top .shadow {
    padding: 12px 18px 50px 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
}

#spinnerOverlay {
    z-index: 4;
}
#spinner {
    --size: 132px;
    --thickness: 8px;
    opacity: 0;
    transition: 0.3s var(--bezier);
}
#spinner.visible {
    opacity: 1;
}

#title {
    display: none;
    min-width: 0px;
    font-family: 'Comfortaa';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--l8);
    word-break: break-word;
}
#title.visible {
    display: block;
}

#btnPlayPause .icon {
    font-family: 'Material Symbols Filled Rounded';
}

.btn[data-volume="3"] .icon::before {
    content: 'volume_up';
}
.btn[data-volume="2"] .icon::before {
    content: 'volume_down';
}
.btn[data-volume="1"] .icon::before {
    content: 'volume_mute';
}
.btn[data-volume="0"] .icon::before {
    content: 'volume_off';
}

#controls .time {
    margin-top: 2px;
    font-size: 18px;
    user-select: none;
    color: var(--l9);
}

#progress input {
    margin-top: 0.5px;
    opacity: 0;
    transition: 0.2s var(--bezier);
}
#progress input:hover,
#progress input:focus-visible {
    opacity: 1;
    transition: none;
}

#buffers {
    position: relative;
    margin-bottom: -16px;
    margin-top: 11px;
    height: 5px;
}
#buffers .buffer {
    position: absolute;
    margin: 0px;
    --bg: rgba(255, 255, 255, 0.1);
}

#btnPlayPauseBig {
    width: 90px;
    height: 90px;
}
#btnPlayPauseBig .icon {
    font-family: 'Material Symbols Filled Rounded';
    font-size: 72px;
}
#btnJumpBackBig, #btnJumpForwardBig {
    width: 54px;
    height: 54px;
}
#btnJumpBackBig .icon, #btnJumpForwardBig .icon {
    font-size: 36px;
}

body:not([data-controls-visible="false"]) #controls .btn,
body:not([data-controls-visible="false"]) #controls .slider {
    pointer-events: all;
}

@media ( pointer: coarse ) {
    #progress input {
        opacity: 1;
    }
    #controls .middle {
        display: flex;
    }
    #btnPlayPause {
        display: none;
    }
    #controls .shadow {
        background: none !important;
    }
    #controls .bottom {
        background: rgba(0, 0, 0, 0.5);
    }
}

[data-is-embed="false"] [data-only-when-embed="true"] {
    display: none;
}
[data-is-embed="true"] [data-only-when-embed="true"] {
    display: inherit;
}